[Unit]
Description=UPnP Internet Gateway Device Daemon
Documentation=man:miniupnpd(8)
After=network-online.target

[Service]
Type=forking
EnvironmentFile=-/etc/default/miniupnpd
#ExecStartPre commented as it is not necessary for the mode this fork is intended (script to fw)
#ExecStartPre=/usr/libexec/miniupnpd-startstop-helper.sh start
ExecStart=/usr/sbin/miniupnpd -f /etc/miniupnpd/miniupnpd.conf $MiniUPnPd_OTHER_OPTIONS -vv
#ExecStopPos commented as it is not necessary for the mode this fork is intended (script to fw)
#ExecStopPost=/usr/libexec/miniupnpd-startstop-helper.sh stop
PIDFile=/run/miniupnpd.pid
StandardOutput=journal
StandardError=journal
ProtectClock=no
RestrictSUIDSGID=no # Precisa ser 'no' para sg funcionar
AmbientCapabilities=CAP_SETUID CAP_SETGID CAP_NET_ADMIN CAP_NET_RAW CAP_NET_BROADCAST CAP_SYSLOG CAP_SYS_ADMIN CAP_AUDIT_WRITE CAP_DAC_OVERRIDE CAP_MKNOD CAP_SYS_TIME
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BROADCAST CAP_NET_RAW CAP_SYSLOG CAP_SETUID CAP_SETGID CAP_SYS_ADMIN CAP_AUDIT_WRITE CAP_DAC_OVERRIDE CAP_MKNOD CAP_SYS_TIME
MemoryDenyWriteExecute=no # Precisa ser 'no' para scripts bash funcionarem
ProtectSystem=no
DevicePolicy=auto
DeviceAllow=/dev/fuse rw
PrivateDevices=no

# for vyos scripts. miniupnpd alone needs only 1.
TasksMax=20
#CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BROADCAST CAP_NET_RAW CAP_SYSLOG
MountAPIVFS=yes
# NoNewPrivileges precisa ser 'no' para permitir sg funcionar
NoNewPrivileges=no
PrivateMounts=yes
PrivateTmp=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
LockPersonality=yes
RestrictRealtime=yes
RestrictNamespaces=yes
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target